.header-container{
    background-image: url('https://thumbs.dreamstime.com/z/training-courses-key-white-background-note-83670448.jpg');
    background-repeat: no-repeat;
}
.navbar-brand img {
    height: 150px;
    padding-left: 20px;
}
.navigation-item{
    font-size: 25px;
}
.course-nav-title{
    color: rebeccapurple;
    font-size: 35px;
}
