.about-container{
    padding: 150px;
}
.about-text{
    padding-bottom: 100px;
    color: rgb(255, 153, 0);
    font-weight: 700;
}
.blog-style{
    margin-bottom: 20px;
    padding-top: 40px;
}
.about-container img {
    margin-left: 80px;
    
}