.home-container{
    background-image: url('../../images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.home-style{
    color: tomato;
}
.home-quote{
    font-size: 80px ;
    padding-bottom: 30px;
    margin-left: 60px;
}
.small-quote{
    margin-left: 60px;

    color: saddlebrown;
}
.about-btn{
    margin-bottom: 150px;
    width: 150px;
    margin-left: 60px;
}
.home-card-container{
    margin: 80px;
}